<div>
  <h2 class="dashboard-title">Analysis Dashboard</h2>
</div>
<div>
  <div class="dashboard-form-parent" *ngIf="hives && startDateFilter && endDateFilter">
    <form class="dashboard-form"
          #HiveForm="ngForm" (ngSubmit)="getAnalysis(HiveForm)">
      <h3 class="dashboard-form-title">Select Hives and Dates</h3>
      <mat-checkbox class="dashboard-checkbox"
          *ngFor="let hive of hives"
          name="{{hive}}"
          color="primary"
          ngModel (ngModelChange)="hiveSelected(HiveForm)">{{hive}}</mat-checkbox>
      <br>
      <mat-form-field class="dashboard-datepicker">
        <input matInput #startPickerInput [matDatepickerFilter]="startDateFilter"
          [matDatepicker]="startPicker"
          placeholder="Choose a Start Date"
          name="startDate"
          (dateChange)="startDateSelected(startPickerInput.value)" ngModel>
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker [startAt]="beginStartAt" #startPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="dashboard-datepicker">
        <input matInput #endPickerInput [matDatepickerFilter]="endDateFilter"
          [matDatepicker]="stopPicker"
          placeholder="Choose an End Date"
          name="endDate"
          (dateChange)="endDateSelected(endPickerInput.value)" ngModel>
        <mat-datepicker-toggle matSuffix [for]="stopPicker"></mat-datepicker-toggle>
        <mat-datepicker [startAt]='endStartAt' #stopPicker></mat-datepicker>
      </mat-form-field>
      <br>
      <button class="main-button" type="submit">Get Analysis</button>
    </form>
  </div>
  <div class="dashbord-form-parent"
    *ngIf="(!(hives && startDateFilter && endDateFilter)) || dataLoading">
      <mat-spinner class=dashboard-loading diameter="50"></mat-spinner>
  </div>
</div>
<arrivals-chart #ArrivalsChart></arrivals-chart>
<departures-chart #DeparturesChart></departures-chart>
<rmslinear-chart #RMSLinearChart></rmslinear-chart>
<temperature-chart #TemperatureChart></temperature-chart>
