<div>
  <h1>Stream</h1>
  <p *ngIf="error != null">Uh oh, we ran into an issue!  {{error}}</p>
  <form>
    <div class="dropdown-div">
      <select class="dropdown" name="streamHiveSelect" [(ngModel)]="streamHiveSelect">
        <option [ngValue]="null">Choose a Hive</option>
        <option *ngFor="let hive of hives" [ngValue]="hive">{{hive}}</option>
      </select>
    </div>
    <button class="main-button" (click)="onSubmit()">View</button>
  </form>
</div>
<div *ngIf="videoLoading && error == null">
  <p>Video Loading</p>
</div>
<div *ngIf="videoUrl != null && error == null && correctLength == true">
  <h2>Video from {{videoUrl.substr(videoUrl.length - 8).replace('-', ':').replace('-', ':')}}</h2>
  <video class="video" #VideoStream id="video" (canplay)="onSubmit()" (ended)="onSubmit()" [src] = "videoUrl" controls autoplay loop>
    Your browser doesn't support HTML5 video.
  </video>
</div>
