<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <base href="/">
  </head>
  <beestream-main>
    <h1>Loading</h1>
  </beestream-main>
  <script src="build/polyfills.js"></script>
  <script src="build/vendor.js"></script>
  <script src="build/bootstrap.js"></script>
  <body>
    <h1>Test</h1>
  </body>
</html>
