<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <base href="/">
  </head>
  <beestream>
    <h1>Loading</h1>
  </beestream>
  <script src="build/polyfills.js"></script>
  <script src="build/vendor.js"></script>
  <script src="build/bootstrap.js"></script>
</html>
