<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title><%= title %></title>
    <base href="/">
  </head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <beestream>
    <h1>Loading</h1>
  </beestream>
  <script src="/build/polyfills.js"></script>
  <script src="/build/bootstrap.js"></script>
</html>
