<div>
  <h1>The Archive</h1>
  <form #hiveForm="ngForm">
    <select name="hiveSelect" [(ngModel)]="hiveSelect" (ngModelChange)="respondHive()">
      <option *ngFor="let hive of hives" [ngValue]="hive">{{hive}}</option>
    </select>
    <select name="dateSelect" [(ngModel)]="dateSelect" (ngModelChange)="respondDate()">
      <option *ngFor="let date of dates" [ngValue]="date">{{date}}</option>
    </select>
    <select name="timeSelect" [(ngModel)]="timeSelect">
      <option *ngFor="let time of times" [ngValue]="time">{{time}}</option>
    </select>
    <button (click)="onSubmit()">View</button>
  </form>
</div>
<div *ngIf="videoLoading">
  <p>Video Loading</p>
</div>
<div *ngIf="videoUrl != null">
  <video [src] = "videoUrl" controls>
    Your browser doesn't support HTML5 video.
  </video>
</div>
